<div class="ui middle aligned center aligned grid">
    <div class="four wide column">
        <h2 class="ui teal header">
            <div class="content">Informe seus dados</div>
        </h2>
        
        <%= render 'form', user: @user %>

        <div class="ui message">
            <%= link_to "Voltar", users_path %>
        </div>
    </div>
</div>